@model FC_B13.Models.DB.Coach

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Видалення тренера</h2>

<h3>Ви впевнені, що хочете видалити це?</h3>
<div class="informationAboutStaff">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ім'я
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Дата народження
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirhday)
        </dd>
        <dt>
            Адреса
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            Номер телефону
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Роль
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionInTeam)
        </dd>
        <dt>
            Контракт
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contract.ContractId)
        </dd>
    </dl>

    <form asp-action="Delete" class="form">
        <input type="hidden" asp-for="CoachId" />
        <input type="submit" value="Видалити" class="btn btn-lg btn-primary btn-block" />
    </form>
    
</div>
<a asp-action="Index">Назад до списку</a>