@model IEnumerable<FC_B13.Models.DB.Player>

@using System.Security.Claims

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    i {
        color: black;
        font-size: 20px;
        padding-right: 10px;
    }

    .control-buttons a {
        color: white;
        font-size: 13px;
    }

    .controll-block {
        margin: 20px;
    }
</style>


<h2>Гравці Команди</h2>

@if (User.Identity.IsAuthenticated && User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
{
    <div class="container controll-block">
        <div class="btn-group btn-group-justified control-buttons">
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Додати нового</a>
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i>Видалити усі</a>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Дата народження
            </th>
            <th>
                Позиція
            </th>
            <th>
                Номер
            </th>
            <th>
                Національність
            </th>
            <th>
                Ріст
            </th>
            <th>
                Вага
            </th>
            @if (User.Identity.IsAuthenticated && User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
            {
                <th>
                    Адреса
                </th>
                <th>
                    Номер телефону
                </th>
                <th>
                    Контракт
                </th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirhday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleOnTheField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Citizenship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Growth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                @if (User.Identity.IsAuthenticated && User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Contracts" asp-action="Details" asp-route-id="@item.ContractId">Деталі контракту</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PlayerId">Редагувати</a><br />
                        <a asp-action="Delete" asp-route-id="@item.PlayerId">Видалити</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
