@model FC_B13.Models.DB.Personal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Видалення персоналу</h2>
<h3>Ви впевнені, що хочете видалити це?</h3>
<div class="informationAboutStaff">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ім'я
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Дата народження
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataOfBirthday)
        </dd>
        <dt>
            Номер телефону
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Адреса
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            Професії
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionId)
        </dd>
        <dt>
            Контракт
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contract.ContractId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonalId" />
        <input type="submit" value="Видалити" class="btn btn-lg btn-primary btn-block" />
    </form>
</div>
<a asp-action="Index">Назад до списку</a>
