@model FC_B13.Models.DB.Personal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataOfBirthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataOfBirthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InForceContract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InForceContract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsManager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsManager)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contract.ContractId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
