@model IEnumerable<FC_B13.Models.DB.Personal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<style>

    i {
        color: black;
        font-size: 20px;
        padding-right: 10px;
    }

    .control-buttons a {
        color: white;
        font-size: 13px;
    }

    .controll-block {
        margin: 20px;
    }


    .proffesions-list {
        list-style-type: none;
        padding-left: 0px;
    }
</style>

<h2>Персонал клубу</h2>

@if (User.Identity.IsAuthenticated && User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
{
    <div class="container controll-block">
        <div class="btn-group btn-group-justified control-buttons">
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Додати нового</a>
            <a asp-action= "Create" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i>Видалити усі</a>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Дата народження
            </th>
            <th>
                Професії
            </th>
            @if (User.Identity.IsAuthenticated && User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
            {
                <th>
                    Номер телефону
                </th>
                <th>
                    Адреса
                </th>
                <th>
                    Контракт
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataOfBirthday)
                </td>
                <td>
                    @foreach (var person in Model)
                    {
                        foreach (var personalProfession in person.PersonalProfession.Select(p => p.Profession).Select(p => p.ProfessionName))
                        {
                            if (person.PersonalId == item.PersonalId)
                            {
                                <ul class="proffesions-list">
                                    <li>@personalProfession</li>
                                </ul>
                            }
                        }
                    }
                </td>
                @if (User.Identity.IsAuthenticated && User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Contracts" asp-action="Details" asp-route-id="@item.ContractId">Деталі контракту</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PersonalId">Редагувати</a><br />
                        <a asp-action="Delete" asp-route-id="@item.PersonalId">Видалити</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
