@model FC_B13.Models.DB.Contract

@using FC_B13.Enums

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Деталі</h2>
<h4>Номер контракту @Model.ContractId</h4>
<div class="informationAboutStaff">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Зарплата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            Дата закінчення
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            Дата укладання
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConclusionTime)
        </dd>
        <dt>
            Дата початку дії
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            Чи дійсний контракт
        </dt>
        <dd>
            @if (Model.InForseContract.ToString() == "True")
            {
                @StateContactEnum.Дійсний.ToString()
            }
            else
            {
                @StateContactEnum.Недійсний.ToString()
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractId">Редагувати</a>
</div>