@model IEnumerable<FC_B13.Models.DB.Contract>

@using FC_B13.Enums

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    i {
        color: black;
        font-size: 20px;
        padding-right: 10px;
    }

    .control-buttons a {
        color: white;
        font-size: 13px;
    }

    .controll-block {
        margin: 20px;
    }
</style>

<h2>Контракти, які уклав клуб</h2>

<div class="container controll-block">
    <div class="btn-group btn-group-justified control-buttons">
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Додати нову</a>
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i>Видалити усі</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Номер контракту
            </th>
            <th>
                Зарплата
            </th>
            <th>
                Час закінчення контракту
            </th>
            <th>
                Час укладання контракту
            </th>
            <th>
                Час почакту дії контракту
            </th>
            <th>
                Чи дійсний контракт
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConclusionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @if(item.InForseContract.ToString()=="True")
                    {
                        @StateContactEnum.Дійсний.ToString()

                    }
                    else
                    {
                        @StateContactEnum.Недійсний.ToString()

                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContractId">Редагувати</a>
                </td>
            </tr>
        }
    </tbody>
</table>
